<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.springboot_demo02.mapper.ProductEntityMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.springboot_demo01.entity.ProductEntity">
    <id column="goodsno" jdbcType="INTEGER" property="goodsno" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="goodsunit" jdbcType="VARCHAR" property="goodsunit" />
    <result column="goodsexp" jdbcType="VARCHAR" property="goodsexp" />
    <result column="goodsex" jdbcType="VARCHAR" property="goodsex" />
    <result column="supplierno" jdbcType="INTEGER" property="supplierno" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <sql id="Base_Column_List">
    goodsno, goodsname, price, goodsunit, goodsexp, goodsex, supplierno, image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where goodsno = #{goodsno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where goodsno = #{goodsno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.springboot_demo01.entity.ProductEntity">
    insert into product (goodsno, goodsname, price, 
      goodsunit, goodsexp, goodsex, 
      supplierno, image)
    values (#{goodsno,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{goodsunit,jdbcType=VARCHAR}, #{goodsexp,jdbcType=VARCHAR}, #{goodsex,jdbcType=VARCHAR}, 
      #{supplierno,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.springboot_demo01.entity.ProductEntity">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsno != null">
        goodsno,
      </if>
      <if test="goodsname != null">
        goodsname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsunit != null">
        goodsunit,
      </if>
      <if test="goodsexp != null">
        goodsexp,
      </if>
      <if test="goodsex != null">
        goodsex,
      </if>
      <if test="supplierno != null">
        supplierno,
      </if>
      <if test="image != null">
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsno != null">
        #{goodsno,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsunit != null">
        #{goodsunit,jdbcType=VARCHAR},
      </if>
      <if test="goodsexp != null">
        #{goodsexp,jdbcType=VARCHAR},
      </if>
      <if test="goodsex != null">
        #{goodsex,jdbcType=VARCHAR},
      </if>
      <if test="supplierno != null">
        #{supplierno,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.springboot_demo01.entity.ProductEntity">
    update product
    <set>
      <if test="goodsname != null">
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsunit != null">
        goodsunit = #{goodsunit,jdbcType=VARCHAR},
      </if>
      <if test="goodsexp != null">
        goodsexp = #{goodsexp,jdbcType=VARCHAR},
      </if>
      <if test="goodsex != null">
        goodsex = #{goodsex,jdbcType=VARCHAR},
      </if>
      <if test="supplierno != null">
        supplierno = #{supplierno,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where goodsno = #{goodsno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.springboot_demo01.entity.ProductEntity">
    update product
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      goodsunit = #{goodsunit,jdbcType=VARCHAR},
      goodsexp = #{goodsexp,jdbcType=VARCHAR},
      goodsex = #{goodsex,jdbcType=VARCHAR},
      supplierno = #{supplierno,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR}
    where goodsno = #{goodsno,jdbcType=INTEGER}
  </update>
</mapper>